<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 啟用日誌 -->
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <!-- 指定 Mapper 文件位置 -->
    <mappers>
        <mapper resource="mappers/BreadMapper.xml"/>
        <mapper resource="mappers/Bread2Mapper.xml"/>
        <mapper resource="mappers/Bread3Mapper.xml"/>
        <mapper resource="mappers/ProductMapper.xml"/>
        <mapper resource="mappers/UserMapper.xml"/>
    </mappers>
</configuration>
