<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 啟用日誌 -->
        <setting name="logImpl" value="SLF4J"/>
    </settings>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
                <property name="url" value="jdbc:sqlserver://34.136.28.87:1433;databaseName=bread_mall;encrypt=true;trustServerCertificate=true"/>
                <property name="username" value="sqlserver" />
                <property name="password" value="Password" />

                <!--MySQL JBCD連接-->
                <!--                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
                <!--                <property name="url" value="jdbc:mysql://127.0.0.1:3306/bread_mall"/>-->
                <!--                <property name="username" value="root"/>-->
                <!--                <property name="password" value="Password"/>-->
                <!-- 可選：連接配置 -->

                <property name="poolMaximumActiveConnections" value="50"/>
                <property name="poolMaximumIdleConnections" value="10"/>
                <property name="poolMaximumCheckoutTime" value="30000"/>
                <property name="poolTimeToWait" value="10000"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 指定 Mapper 文件位置 -->
    <mappers>
        <mapper resource="mappers/BreadMapper.xml"/>
        <mapper resource="mappers/Bread2Mapper.xml"/>
        <mapper resource="mappers/Bread3Mapper.xml"/>
        <mapper resource="mappers/ProductMapper.xml"/>
        <mapper resource="mappers/UserMapper.xml"/>
    </mappers>
</configuration>
